*{
    margin: 0;
    padding: 0;
}

.btn{
    background-color: rgb(21, 155, 50);
    padding: 10px 20px;
    color: #fff;
    border: 0;
    border-radius: 3px;
    margin-top: 10px;
    }


    /* global css end */
.header-content{
    background-image: url("images/donation3.jpg"),linear-gradient(rgba(0, 0, 0, 0.679),rgba(0, 0, 0, 0.745));
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    height: 100vh;
    padding-top: 230px;
    color: aqua;
    background-blend-mode: overlay;
}
.header-content h2{
    font-size: 45px;
    font-family: roboto;
    font-weight: 500;
    padding-bottom: 10px;
}


/* donate now css start */

.donate-today{
    text-align: center;
    width: 50%;
    margin: 40px auto;

}
.donate-price-main{
    display: flex;
    gap: 30px;
    justify-content: center
    ;
    margin-top: 30px;
}

.donate-price{
    height: 50px;
    background-color:rgb(191, 187, 187);
    padding: 35px 30px 30px 30px;
    color: rgb(80, 80, 79);
}
.donate-bottom p{
    padding-top: 40px;
    color: rgb(58, 59, 59);
    padding-bottom: 20px;
}

/* donate now css end */
.donate-plan{
    text-align: center;
    margin-top: 120px;
    width: 70%;
    margin: auto;
    padding-top: 60px;

}
.donate-feature{
    display: flex;
    gap: 40px;
    margin-top: 40px;
    text-align: left;
}
.donate-info{
    padding: 20px;
    background-color: rgb(241, 239, 239);
    border-radius: 3px;
}
.donate-info h2{
    padding: 20px 0;
}
.donate-info3{
    background: rgb(215, 215, 173);
}

/* donate plan css end */
.donate-blog{
    display: flex;
    width: 70%;
    margin: 70px auto;
    gap: 30px;
}
.blog-content{
    width: 50%;
    padding-right: 60px;
}
.blog-content h2{
    font-size: 36px;
}
.blog-image {
width: 50%;
}
.blog-image img{
    width: 100%;
    border-radius: 4px;
}

.blog-content2{
    padding-left: 60px;
}

/* blog section end */

.subscribe-user{
    text-align: center;
    margin-top: 100px;
}
.subscribe-form {
    padding: 40px;
    background-color: rgb(226, 239, 169);
    width: 40%;
    margin: 100px auto;
}
.subscribe-user h2{
    margin: 20px 0;
    font-size: 40px;
    font-weight: 600;
}
.subscribe-form input{
    padding: 10px;
    outline: 0;
    width: 40%;
    border: 0;
    background-color: rgb(247, 248, 248);
}

.subscribe-form button{
    border-radius:0 3px 3px 0px;
    margin-left:-30px ;
}

footer{
    background-color: #000;
    padding: 40px 0;
    text-align: center;
}
footer > h2{
   color: rgb(182, 198, 35);
   font-weight: 800;
   font-size: 40px;
}
footer > p{
    color: #fff;
    padding-top: 20px;
}